<div class="tickets-box col-md-12 bg-light">
  <div class="row">
    <div class="ticket-header col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="ticket-details col-md-4">
      <div class="ticket-show-title">
        <h3>Ticket Details</h3>
      </div>
      <div class="ticket-details-fields">
        <%= form_with(model: ([:account, @ticket]), local: true) do |form| %>
        <div class="form-group">
          <%= form.label :id, 'ID',for: "inputId", class: "col-form-label" %>
          <%= form.text_field :id, id: "inputId", type: "number", class: "form-control", disabled: true %>
        </div>
        <div class="form-group">
          <%= form.label :title, for: "inputTitle", class: "col-form-label" %>
          <%= form.text_field :title, id: "inputTitle", type: "text", class: "form-control", disabled: true %>
        </div>
        <div class="form-group">
          <%= form.label :kind, for: "inputKind", class: "col-form-label" %>
          <%= form.collection_select(:kind_id, @kind_options_for_select, :id, :description,{} ,{id: "inputKind", class: "form-control", disabled: true}) %>
        </div>
        <div class="form-group">
          <%= form.label :status, for: "inputStatus", class: "col-form-label" %>
          <%= form.collection_select(:status_id, @status_options_for_select, :id, :description,{} ,{id: "inputStatus", class: "form-control", disabled: true}) %>
        </div>
        <div class="form-group">
          <%= form.label :assignee, for: "inputAssignee", class: "col-form-label" %>
          <%= form.text_field :assignee, id: "inputAssignee", type: "text", class: "form-control", value: "#{@ticket.assignee.name}", disabled: "true" %>
        </div>
        <div class="form-group">
          <%= form.label :description, for: "inputDescription", class: "col-form-label" %>
          <%= form.text_area :description, id: "inputDescription", type: "text", class: "form-control", rows: "5", disabled: true  %>
        </div>
        <% end %>
        <div class="ticket-details-dates text-right">
          <div class="ticket-details-created-at">
            <%= @ticket.created_at.strftime("Created at %d/%m/%Y at %H:%m") %>
          </div>
          <div class="ticket-details-updated-at">
            <%= @ticket.updated_at.strftime("Updated at %d/%m/%Y at %H:%m") %>
          </div>
        </div>
      </div>
    </div>
    <div class="ticket-feed col-md-8">
      <div class="ticket-show-title">
        <h3>Ticket Feed</h3>
      </div>
      <div class="ticket-feed-overflow">
        <% @ticketlogs.each_with_index do |ticketlog, index| %>
        <div id= "<%= "ticket-log-#{index}" %>" class="ticket-log col-md-12">
          <div class="ticket-log-content col-md-5 <%= 'offset-md-7' if index.odd? %>">
            <div class="ticket-log-header">
              <h5><%= ticketlog.log['action']%></h5><br />
            </div>
            <div class="log">
              <p> Title: <%=  ticketlog.log['changes']['title'] %> </p>
              <p> Description: <%=  truncate(ticketlog.log['changes']['description'], length: 80) %> </p>
              <p> Kind: <%=  ticketlog.log['changes']['kind'] %> </p>
              <p> Status: <%=  ticketlog.log['changes']['status'] %> </p>
              <p> Assignee: <%=  ticketlog.log['changes']['assignee'] %> </p>
            </div>
          </div>
          <div class="ticket-log-timeline col-md-1">

          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
