<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= fa_icon "ticket", text: "MagicTickets" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto align-middle">
        <% if user_signed_in? %>
          <li class="nav-item dropdown nav-user-info">
            <%= button_tag type: 'button', id: 'dropdownMenuButton', class: 'btn btn-primary', data: { toggle: "dropdown" } do %>
              <%= fa_icon "user-circle-o"%>
                Matheus Henrique
              <%= fa_icon "caret-down"%>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
              <%= link_to account_tickets_path, class: "dropdown-item" do %>
                <%= fa_icon "ticket", text: "Meus Chamados" %>
              <% end %>
              <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <%= fa_icon "power-off", text: "Logout" %>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: "btn btn-success" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
