<div class="d-md-flex h-md-100 align-items-center">

  <div class="col-md-5 p-0 bg-black h-md-100">
    <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
      <div class="logoarea pt-5 pb-5">
        <div class="login-main-text">
          <%= link_to root_path, class: "none" do %>
            <h2>Magic-Tickets</h2>
          <% end %>
          <h3>Login Page</h3>
          <p>Login or register from here to access.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7 p-0 bg-white h-md-100 loginarea">
    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "col-md-7"}) do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <%= devise_error_messages! %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-dark" %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>

</div>
