<!DOCTYPE html>
<html>
  <head>
    <title>TicketManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'account/base' %>
    <%= stylesheet_link_tag 'manager/base' %>

    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag params[:controller] %>

  </head>

  <body class="bg-light">

    <%= render 'account/shared/header'%>

    <div class="row content col-md-12">
      <div class="manager-sidebar col-md-2 bg-white">
        <%= render 'manager/shared/sidebar' %>
      </div>
      <div class="manager-content col-md-10 bg-light p-md-5">
        teste
      </div>
    </div>

  </body>
</html>
